body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#p-main {
    text-align: justify;
    font-family:Arial, sans-serif;
}

img {
    width: 300px;
    height: 450.03px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed; 
    width: 100%;
    bottom: 0;
}

